/* universal Selrctor */
*{
    background-color: lightblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


/* Element Selector */
h1{
   color: brown;
font -size: 24px;
}

 /* Class Selector */
 .about-para{
     font-size: 50px;
    color: red;
    }

    /* Id delector */
    #heading[
        color: blueviolet 
    ]
    /ID is unique and class can be more./
    /Priority of Id id more than class./

    /* Group Selector */
    h1, h2, p{
        font-size: 30px;
    }

    /*descemdant Selector */
    footer p{
        color: blue;
    }